.feature-cards-section {
  width: 100%;
  padding: 40px 20px;
  text-align: center;
}

.night-mode .feature-cards-section {
  background: #1c1c1c;
}

.feature-cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.night-mode .feature-cards-container {
  background: rgba(40, 40, 40, 0.9);
}

.feature-card {
  width: 300px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.night-mode .feature-card {
  border: 1px solid #444;
  background-color: #333;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.feature-card.hovered {
  transform: scale(1.03);
}

.feature-card-logo img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.feature-card-content {
  text-align: center;
}

.feature-card-content h3 {
  margin-bottom: 5px;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.night-mode .feature-card-content h3 {
  color: #ddd;
}

.feature-card-content p {
  line-height: 1.6;
  color: #555;
}

.night-mode .feature-card-content p {
  color: #bbb;
}
