.main-content {
    flex: 2;
    padding: 20px;
    background: white;
    border-radius: 10px;
  }
  
  .main-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .main-content ul {
    list-style: none;
    padding: 0;
  }
  
  .main-content ul li {
    font-size: 1.2rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px; 
    border-radius: 5px;
  }
  
  .main-content ul li::before {
    content: '✔️';
    margin-right: 10px;
    color: #007BFF;
  }
  