.hoverText {
  display: inline-block;
  transition: transform 0.35s, opacity 0.35s, color 0.35s;
}

.hoverText:hover {
  transform: scale(1.2);
  color: rgb(238, 242, 255);
  opacity: 1;
}

.hoverText:hover + .hoverText {
  transform: scale(1.1);
  color: rgb(199, 210, 254);
}

.hoverText:hover + .hoverText + .hoverText {
  transform: scale(1.05);
  opacity: 0.8;
}

/* To the left */
.hoverText:has(+ .hoverText:hover) {
  transform: scale(1.1);
  color: rgb(199, 210, 254);
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
  transform: scale(1.05);
  opacity: 0.8;
}
