.doc-submission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  color: #ffffff;
}

.doc-submission h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.doc-submission form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.file-input-container {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
}

.file-input-container input[type="file"] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.file-input-container label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3a3a3a;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border: 1px dashed #555;
  transition: background-color 0.3s;
  flex: 1; /* Take up remaining space */
}

.file-input-container label:hover {
  background-color: #444;
}

.file-input-container label img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.remove-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 0.875rem;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
  transition: background-color 0.3s;
}

.remove-button:hover {
  background-color: #c82333;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-left: 10px;
}

.progress {
  height: 100%;
  background-color: #007bff;
  border-radius: 5px;
  text-align: center;
  line-height: 20px;
  color: #fff;
}

.file-preview {
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
}

.file-preview embed {
  width: 100%;
  height: 600px;
}

.error-message {
  color: red;
  margin-top: 10px;
}
