.App {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  position: relative;
}

.night-mode {
  background: linear-gradient(135deg, #000428 0%, #004e92 100%);
  color: #ddd;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px 20px 20px;
  width: 100%;
  flex-wrap: wrap;
}

.intro-section {
  flex: 1;
  padding: 20px;
  text-align: left;
  max-width: 50%;
}

.intro-section h2 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-weight: bold;
  color: #f8f8f8;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.2;
}

.night-mode .intro-section h2 {
  color: #ddd;
}

.form-section {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
